@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffff99;
	font-family: 'Belanosima', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
	gap: 30px;
	background: #131313;
}
h1{
	padding-top: 30px;
}

section{
	padding-top: 30px;
}

div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	gap: 20px;
	padding-bottom: 30px;
}